* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
body {
  background-color: #212529;
}
.box-container {
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
  /* background: #222327; */
  width: 100%;
  margin-bottom: 1.5em;
  bottom: 0;
}

.navigation {
  position: relative;
  width: 25em;
  height: 3em;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.navigation ul {
  display: flex;
  width: 350px;
}
.navigation ul li {
  list-style: none;
  position: relative;
  width: 70px;
  height: 60px;
  z-index: 2;
}
.navigation ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  width: 55px;
  height: 55px;
  /* background: #f00; */
  text-align: center;
  line-height: 65px;
  border-radius: 50%;
  color: #222327;
  font-size: 1.5em;
  transition: 0.3s;
  transition-delay: 0s;
}
.navigation ul li.active a .icon {
  background-color: var(--clr);
  color: #fff;
  transform: translateY(-27px);
  transition-delay: 0.25s;
}
.navigation ul li a .icon::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr);
  border-radius: 50%;
  filter: blur(5px);
  opacity: 0;
  transition: 0.5s;
  transition-delay: 0s;
}
.navigation ul li.active a .icon::before {
  opacity: 0.5;
  transition-delay: 0.25s;
}
.indicator {
  position: absolute;
  top: -35px;
  width: 70px;
  height: 70px;
  background: #fff;
  border-radius: 50%;
  z-index: 1;
  transition: 0.7s;
}

.indicator::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -28px;
  width: 30px;
  height: 30px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 15px 18px #fff;
}

.indicator::after {
  content: "";
  position: absolute;
  top: 5px;
  right: -28px;
  width: 30px;
  height: 30px;
  background: transparent;
  border-radius: 50%;
  box-shadow: -15px 18px #fff;
}

.navigation ul li:nth-child(1).active ~ .indicator {
  transform: translateX(calc(70px * 0));
}
.navigation ul li:nth-child(2).active ~ .indicator {
  transform: translateX(calc(70px * 1));
}
.navigation ul li:nth-child(3).active ~ .indicator {
  transform: translateX(calc(70px * 2));
}
.navigation ul li:nth-child(4).active ~ .indicator {
  transform: translateX(calc(70px * 3));
}
.navigation ul li:nth-child(5).active ~ .indicator {
  transform: translateX(calc(70px * 4));
}

/* Name Logo CSS 
 #logo {
   transform: translate(-50%, -50%); 
} */

.hellodiv {
  color: white;
  font-family: roboto, sans-serif;
  font-size: 5em;
}

.namediv {
  color: white;
  font-family: roboto, sans-serif;
  font-size: 3em;
  padding-left: 1em;
  display: flex;
}
.professiondiv {
  color: white;
  font-size: 2em;
  padding-left: 1em;
}
.profession-title {
  font-family: "Rock Salt", sans-serif;
  display: flex;
}

.profession-inner-div div {
  font-family: "Rock Salt", sans-serif;
  font-size: 2em;
  line-height: 1.7em;
  display: flex;
}

.secondary-description {
  color: white;
}

.profession-title {
  font-family: "Rock Salt", sans-serif;
  display: flex;
  
}

.word-A {
  margin: auto 0;
  padding: 0.5em;
}

.svgdiv {
  margin-left: 0.2em;

  display: flex;
  height: min-content;
}

#logo path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}
#professional-inner-div {
  display: flex;
}

@keyframes line-animation {
  to {
    stroke-dashoffset: 0;
  }
}

.mainwrapper {
  margin: 3em 2em 1em 10em;
}

.secondary-description {
  color: white;
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  display: flex;
  margin: 1em 0em 0em 0.5em;
  display: flex;
}

/* .secondary-description > div {
  border: 5px solid red;
} */


.chopperContent{
  /* background-color: white; */
  /* color: black; */
  display: inline-block;
  animation: animateContent 4s ease-in-out infinite;

}

.chopperContent span{
  position: relative;
  display: inline-block;
  font-family: "Allura", cursive;
  font-weight: 400;
  font-style: normal;
  animation: animateContent 2s ease-in-out infinite;
}

.chopper-wrapper{
  position: relative;
}


.chopper{
  animation: MoveUpDown 4s linear infinite;
  position: absolute;
  transform: scale(1.5);
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: -7px;
  }
  50% {
    bottom: 1px;
  }
}

@keyframes animateContent {
  0%, 100% {
    bottom: -1px;
  }
  50% {
    bottom: 2px;
  }

  
}




/* Background css */



@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Exo', sans-serif;
}

.context {
    width: 100%;
    position: absolute;
    top: 50vh;
}

.context h1 {
    text-align: center;
    color: #ffffff;
    font-size: 50px;
}

.area {
    background: #000000;  
    background: linear-gradient(to right, #000000, #1a1a1a);  
    width: 100%;
    /* height: 100%; */
    overflow: hidden;
}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.05);
    animation: animate 25s linear infinite;
    right: -150px;
}

.circles li:nth-child(1) {
    top: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
    background: rgba(255, 255, 255, 0.1);
}

.circles li:nth-child(2) {
    top: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
    background: rgba(255, 255, 255, 0.08);
}

.circles li:nth-child(3) {
    top: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
    background: rgba(255, 255, 255, 0.06);
}

.circles li:nth-child(4) {
    top: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
    background: rgba(255, 255, 255, 0.04);
}

.circles li:nth-child(5) {
    top: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
    background: rgba(255, 255, 255, 0.05);
}

.circles li:nth-child(6) {
    top: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
    background: rgba(255, 255, 255, 0.09);
}

.circles li:nth-child(7) {
    top: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
    background: rgba(255, 255, 255, 0.07);
}

.circles li:nth-child(8) {
    top: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
    background: rgba(255, 255, 255, 0.05);
}

.circles li:nth-child(9) {
    top: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
    background: rgba(255, 255, 255, 0.06);
}

.circles li:nth-child(10) {
    top: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
    background: rgba(255, 255, 255, 0.1);
}

@keyframes animate {
    0% {
        transform: translateX(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100% {
        transform: translateX(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}